h1 {
    color: darkcyan;
}
h2 {
    color: darkcyan;
}
h3 {
    color: darkcyan;
    text-align: center;
}
.container {
    padding: 5px 10px 10px;
}
.image-details {
    float: left;
    height: 200px;
    width: 200px;
}

.image-thumbs {
    height: 150px;
    width: 150px;
}

.image-border {
    border: 2px solid cadetblue;
    height: 150px;
    width: 150px;
}

.container-viz {
    align-items: center;
}
.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
}

.image-compare {
    height: 300px;
    width: 30px;
}
.navbar-light .navbar-brand {
    color: white;
    background-color: darkcyan;
}